[Unit]
Description=CLIP Caption Scoring REST Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=sd
WorkingDirectory=/home/sd/animal-farm/clip-score
ExecStart=/home/sd/animal-farm/clip-score/rest.sh

[Install]
WantedBy=multi-user.target
