[Unit]
Description=RT-DETR Object Detection REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=
User=sd
WorkingDirectory=/home/sd/animal-farm/rtdetr
ExecStart=/home/sd/animal-farm/rtdetr/rtdetr.sh
EnvironmentFile=/home/sd/animal-farm/rtdetr/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
