[Unit]
Description=RT-DETR Object Detection REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=always
RestartSec=10
User=sd
WorkingDirectory=/home/sd/animal-farm/rtdetr
ExecStart=/home/sd/animal-farm/rtdetr/rtdetr.sh
EnvironmentFile=/home/sd/animal-farm/rtdetr/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
