[Unit]
Description=JoyCaption Vision REST API
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=REPLACE_WITH_INSTALL_USER
WorkingDirectory=REPLACE_WITH_INSTALL_DIR
ExecStart=REPLACE_WITH_INSTALL_DIR/rest.sh

[Install]
WantedBy=multi-user.target
