[Unit]
Description=Tesseract

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/tesseract/
ExecStart=/home/pi/tesseract/discord-service-tesseract.sh

[Install]
WantedBy=multiuser.target
