[Unit]
Description=BLIP REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=ubuntu
WorkingDirectory=/home/ubuntu/BLIP
ExecStart=/home/ubuntu/BLIP/BLIP.sh

[Install]
WantedBy=default.target
