[Unit]
Description=BLIP REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/sd/animal-farm/BLIP
ExecStart=/home/sd/animal-farm/BLIP/BLIP.sh
EnvironmentFile=/home/sd/animal-farm/BLIP/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
