[Unit]
Description=BLIP REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=sd
Group=sd
WorkingDirectory=/home/sd/BLIP
ExecStart=/home/sd/BLIP/BLIP.sh
EnvironmentFile=/home/sd/BLIP/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
