[Unit]
Description=Colors REST API Service - Color Analysis for Images
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=sd
WorkingDirectory=/home/sd/animal-farm/colors
ExecStart=/home/sd/animal-farm/colors/colors.sh

[Install]
WantedBy=multi-user.target
