[Unit]
Description=YOLOv11 365 Object Detection REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=sd
Group=sd
WorkingDirectory=/home/sd/animal-farm/yolo_365
ExecStart=/home/sd/animal-farm/yolo_365/yolo.sh
EnvironmentFile=/home/sd/animal-farm/yolo_365/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
