[Unit]
Description=CLIP Discord Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=ubuntu
WorkingDirectory=/home/ubuntu/CLIP
ExecStart=/home/ubuntu/CLIP/discord.sh

[Install]
WantedBy=default.target
