[Unit]
Description=CLIP REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=always
RestartSec=5
User=sd
Group=sd
WorkingDirectory=/home/sd/CLIP
ExecStart=/home/sd/CLIP/CLIP.sh
EnvironmentFile=/home/sd/CLIP/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
