[Unit]
Description=CLIP REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/sd/animal-farm/CLIP
ExecStart=/home/sd/animal-farm/CLIP/CLIP.sh
EnvironmentFile=/home/sd/animal-farm/CLIP/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
