[Unit]
Description=Metadata Extraction REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=sd
WorkingDirectory=/home/sd/animal-farm/metadata
ExecStart=/home/sd/animal-farm/metadata/metadata.sh

[Install]
WantedBy=multi-user.target
