[Unit]
Description=Face Detection REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=always
RestartSec=5
User=sd
Group=sd
WorkingDirectory=/home/sd/face
ExecStart=/home/sd/face/face.sh
EnvironmentFile=/home/sd/face/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
