[Unit]
Description=Face Discord Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=ubuntu
WorkingDirectory=/home/ubuntu/face
ExecStart=/home/ubuntu/face/discord.sh

[Install]
WantedBy=default.target
