[Unit]
Description=Detectron Discord Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=ubuntu
WorkingDirectory=/home/ubuntu/detectron2
ExecStart=/home/ubuntu/detectron2/discord.sh

[Install]
WantedBy=default.target
