[Unit]
Description=Detectron2 Object Detection and Instance Segmentation REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=always
RestartSec=5
User=sd
Group=sd
WorkingDirectory=/home/sd/detectron2
ExecStart=/home/sd/detectron2/detectron.sh
EnvironmentFile=/home/sd/detectron2/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
