[Unit]
Description=Florence-2 Multi-Task Vision REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=sd
Group=sd
WorkingDirectory=/home/sd/animal-farm/florence2
ExecStart=/home/sd/animal-farm/florence2/florence2.sh
EnvironmentFile=/home/sd/animal-farm/florence2/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
