[Unit]
Description=Ollama LLM REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=sd
WorkingDirectory=/home/sd/animal-farm/ollama-api
ExecStart=/home/sd/animal-farm/ollama-api/llama.sh

[Install]
WantedBy=multi-user.target
