[Unit]
Description=xAI REST Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=sd
WorkingDirectory=/home/sd/animal-farm/xai
ExecStart=/home/sd/animal-farm/xai/rest.sh

[Install]
WantedBy=multi-user.target
