[Unit]
Description=NSFW REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=ubuntu
WorkingDirectory=/home/ubuntu/nsfw/
ExecStart=/home/ubuntu/nsfw/nsfw.sh

[Install]
WantedBy=default.target
