[Unit]
Description=Face OpenCV Service for Discord
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=pi
WorkingDirectory=/home/pi/face
ExecStart=/home/pi/face/face.sh

[Install]
WantedBy=multi-user.target
