[Unit]
Description=SSD REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=ubuntu
WorkingDirectory=/home/ubuntu/object
ExecStart=/home/ubuntu/object/object.sh

[Install]
WantedBy=default.target
