[Unit]
Description=YOLOv8 Object Detection REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/sd/animal-farm/yolov8
ExecStart=/home/sd/animal-farm/yolov8/yolo.sh
EnvironmentFile=/home/sd/animal-farm/yolov8/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
