[Unit]
Description=Inception v3 Image Classification REST API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/sd/animal-farm/inception_v3
ExecStart=/home/sd/animal-farm/inception_v3/inception.sh
EnvironmentFile=/home/sd/animal-farm/inception_v3/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
