[Unit]
Description=YOLOv11 Open Images 7 Object Detection REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=sd
Group=sd
WorkingDirectory=/home/sd/animal-farm/yolo_oi7
ExecStart=/home/sd/animal-farm/yolo_oi7/yolo.sh
EnvironmentFile=/home/sd/animal-farm/yolo_oi7/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
