[Unit]
Description=Gemini API Vision REST Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=sd
WorkingDirectory=/home/sd/animal-farm/gemini-api
ExecStart=/home/sd/animal-farm/gemini-api/rest.sh

[Install]
WantedBy=multi-user.target
