[Unit]
Description=Tesseract Discord Service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/tesseract/
ExecStart=/home/ubuntu/tesseract/discord.sh

[Install]
WantedBy=default.target
