[Unit]
Description=NudeNet+ REST API Service
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=sd
Group=sd
WorkingDirectory=/home/sd/animal-farm/nudenet
ExecStart=/home/sd/animal-farm/nudenet/nudenet.sh
EnvironmentFile=/home/sd/animal-farm/nudenet/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
