[Unit]
Description=BLIP Service for Discord
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=0
User=niro
WorkingDirectory=/home/niro/BLIP
ExecStart=/home/niro/animal-farm/blip/discord.sh

[Install]
WantedBy=multi-user.target
